body {
    background-color: #F9FAFC;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 7.5rem;
    padding: 20px;
}

.converted-value {
    color: #452B4E;
}

.conversion-precision {
    color: #452B4E;
}